/* Arkusz stylów aplikacji */

html{
    height:100%;
}

body {
    padding: 108px 15px 20px 15px;
    min-height: 100%;
    font-size: 13px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
}

/* Określa szerokość elementów formularzy, gdyż domyślnie wynosi ona 100% */
input,
select,
textarea {
    max-width: 280px;
}

/* Style elementów pomocniczych weryfikacji danych - początek */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* Style elementów pomocniczych weryfikacji danych - koniec */

/* Style górnego paska nawigacyjnego - początek */
.navbar-default.top-navbar {
    background-color: #4eaded;
    border-color: #4eaded;
}
.navbar-default .second-top-nav{
    background-color: #0088dc !important;
    height:43px;
}
    .navbar-default .second-top-nav a {
        color: white !important;
    }
.navbar-default.top-navbar h1 {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Style górnego paska nawigacyjnego - koniec */

/* Style lewego paska nawigacyjnego - początek */
.left-nav-bar {
    background-color: #1ba2db;
    min-height: 100%;
    position: fixed;
    margin-top: -14px;
    margin-left:-15px;
}
.left-nav-bar a{
    color:white;
    text-align:center;
    width:100%;
}
/* Style lewego paska nawigacyjnego - koniec */

/* Style pojemnika - początek */
.workout-display-div {
    text-align: center;
    padding: 40px;
}
.workout-display-div .img-responsive{
    margin: 25px auto;
    width:540px;
    height:360px;
    cursor:pointer;
}
.workout-display-div .time-progress{
    margin-top:40px;
}
/* Style pojemnika - koniec */

/* Style strony początkowej - początek */
.text-center{
    color:#4eaded;
}
#start{
    text-align:center;
    margin-top:25px;
}
#start a {
    text-decoration: none;
    font-size: 67px;
    color:#4eaded;
}
#start a:hover{
    color:#4eaded;
}
#start a .glyphicon {
    top:8px;
}
/* Style strony początkowej - koniec */

/* Style strony treningu - początek */
.workout-app-container{
    padding-top:15px;
}

#video-panel .panel-body{
    max-height:650px;
    overflow:auto;
}
#pause-overlay {
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    opacity:0;     /* Umieść tę właściwość w komentarzu by wypróbować wypróbować rozpoczynanie i kończenie treningu przy użyciu zdarzeń myszy. */
    z-index:10; 
 
}

/* Umieść ten styl w komentarzu by wypróbować wypróbować rozpoczynanie i kończenie treningu przy użyciu zdarzeń myszy. */
#pause-overlay:hover {
    opacity:.8;     
}
#pause-overlay .pause{
    font-size:120pt;
    width:140px;
    height:140px;
    color:#4eaded;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#play-video-overlay {
    position:absolute;  
    top:0px;
    width:100%;
    height:100%;
    opacity:0;
    z-index:10; 
 
}
#play-video-overlay:hover {
    opacity:.6;     
}
#play-video-overlay .video {
    font-size:80pt;
    width:100px;
    height:100px;
    color:#4eaded;
}
/* Style strony treningu - koniec */

/* Efekty animacji używane na stronie treningu */
div[ng-view] {
    position: absolute;
    width: 100%;
    height: 100%;
}
div[ng-view].ng-enter,
div[ng-view].ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
div[ng-view].ng-enter {
    left: 100%;     /* Początkowy styl wyświetlania widoku */
}
div[ng-view].ng-leave {
    left: 0%;        /* Końcowy styl ukrywania widoku */
}
div[ng-view].ng-enter-active {
    left: 0%;        /* Początkowy styl wyświetlania widoku */
}
div[ng-view].ng-leave-active {
    left: -100%;    /* Końcowy styl dla ukrywania widoku */
}

.video-image.ng-enter,
.video-image.ng-move {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
}
.video-image.ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
}



/* Efekty animacji używane na stronie treningu - koniec */

/* Style konstruktora treningów - początek */
#left-nav-exercises button {
    margin-bottom:4px;
}
#left-nav-exercises button .glyphicon {
    margin-left:6px;
}
.exercise-item.ng-enter,
.exercise-item.ng-move {
    -webkit-animation: zoomIn 0.5s;
    -moz-animation: zoomIn 0.5s;
    -ms-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}
.exercise-item.ng-leave {
    -webkit-animation: fadeOut 0.25s;
    -moz-animation: fadeOut 0.25s;
    -ms-animation: fadeOut 0.25s;
    animation: fadeOut 0.25s;
}
/* Style konstruktora treningów - koniec */


/* Style tytułu - początek */
.exercise.tile {
    padding: 10px;
    margin-bottom:10px;
    width:370px;
    height:240px;
}
.exercise.tile:nth-child(n){
    background-color:#02c69a;
}
.exercise.tile div{
    float:left;
}
.exercise.tile div:first-child{
    width:50px;
    font-size: 40px;
}
.exercise.tile div:nth-child(2){
    width:245px;
}
.exercise.tile div:nth-child(2) input{
    display:block;
}
.exercise.tile div:nth-child(2) div{
    margin:10px 0px 10px 0px;
}
.exercise.tile div:last-child{
    width:53px;
}

.workout.tile {
    width: 300px;
    height: 80px;
    background: #5bc0de;
    color: white;
    padding:10px;
    margin-bottom:10px;
}
.workout.tile:hover{
    background:#1D89CF;
}

.workout .title{
    font-size: 20pt;
    text-align: center;
}
.workout .stats{
    font-size: 12pt;
    padding:0 10px 0 10px;
}

.exercise-tile {
    width: 300px;
    height: 50px;
    background: #5bc0de;
    color: white;
    padding:5px;
    margin-bottom:10px;
    font-size: 18pt;
    text-align: center;
}
.exercise-tile:hover {
    background:#1D89CF;
}
/* Style tytułu- koniec */