<div id="workout-list" class="row">
    <h2>Treningi</h2>
    <div ng-repeat="workout in workouts|orderBy:'title'" class="workout tile" ng-dblclick="goto(workout)">
        <div class="title">{{workout.title}}</div>
        <div class="stats">
            <span class="duration" title="Czas trwania"><span class="glyphicon glyphicon-time"></span> - {{workout.totalWorkoutDuration()|secondsToTime}}</span>
            <span class="length pull-right" title="Liczba ćwiczeń"><span class="glyphicon glyphicon-th-list"></span> - {{workout.exercises.length}}</span>
        </div>
    </div>
</div>